<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLoginn</servlet-name>
        <servlet-class>Controller.AdminLoginn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostlerLogin</servlet-name>
        <servlet-class>Controller.HostlerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordenLoginn</servlet-name>
        <servlet-class>Controller.WordenLoginn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardianLogin</servlet-name>
        <servlet-class>Controller.GuardianLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DailyFoodRegister</servlet-name>
        <servlet-class>Controller.DailyFoodRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodUpdate</servlet-name>
        <servlet-class>Controller.FoodUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GNBconn</servlet-name>
        <servlet-class>Controller.GNBconn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GNUpdate</servlet-name>
        <servlet-class>Controller.GNUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HNBconn</servlet-name>
        <servlet-class>Controller.HNBconn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HNUpdate</servlet-name>
        <servlet-class>Controller.HNUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostlerRegister</servlet-name>
        <servlet-class>Controller.HostlerRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostlerUpdate</servlet-name>
        <servlet-class>Controller.HostlerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordenRegister</servlet-name>
        <servlet-class>Controller.WordenRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordenUpdate</servlet-name>
        <servlet-class>Controller.WordenUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginn</servlet-name>
        <url-pattern>/AdminLoginn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostlerLogin</servlet-name>
        <url-pattern>/HostlerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordenLoginn</servlet-name>
        <url-pattern>/WordenLoginn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardianLogin</servlet-name>
        <url-pattern>/GuardianLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DailyFoodRegister</servlet-name>
        <url-pattern>/DailyFoodRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodUpdate</servlet-name>
        <url-pattern>/FoodUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GNBconn</servlet-name>
        <url-pattern>/GNBconn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GNUpdate</servlet-name>
        <url-pattern>/GNUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HNBconn</servlet-name>
        <url-pattern>/HNBconn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HNUpdate</servlet-name>
        <url-pattern>/HNUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostlerRegister</servlet-name>
        <url-pattern>/HostlerRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostlerUpdate</servlet-name>
        <url-pattern>/HostlerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordenRegister</servlet-name>
        <url-pattern>/WordenRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordenUpdate</servlet-name>
        <url-pattern>/WordenUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
